NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
AUTH_EMAIL_SITE_URL=https://relogator.ru
ALLOW_LOCAL_AUTH_EMAIL_REDIRECTS=false
